.container {
	width: 100%;
	position: relative;
}

.image {
	height: 100vh;
	display: block;
	position: relative;
	right: -20%;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	z-index: 2;
}

.text h1 {
	margin: 0;
	padding: 0;
	font-weight: 300;
	text-shadow: 0.5cm 0.5cm 0.6cm var(--color-white);
}

.text h1:first-child {
	font-size: 10rem;
}

.text h1:last-child {
	transform: translate(17%, -20%);
	color: var(--color-yellow);
	font-size: 11rem;
	text-shadow: 0.5cm 0.5cm 0.6cm var(--color-yellow);
}

.button {
	border: none;
	background-color: var(--color-black);
	color: var(--color-yellow);
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: 300;
	cursor: pointer;
	letter-spacing: 0.3rem;
}
